.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section {
  margin-left: 70%;
  font-size: 20px;
}

.decorate {
  color: #b1b493;
  font-weight: bold;
}

#skills-section {
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.role {
  margin-left: -19%;
  margin-bottom: -3%;
  font-size: 15px;
  color: #b1b493;
  font-weight: bold;
  text-transform: uppercase;
}

.card {
  box-shadow: 0 0 10px #999999;
  border: none;
  z-index: 1;
  position: relative;
}

.about {
  position: absolute;
  flex-wrap: wrap;
  display: inline-block;
}

.ftco-service {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
}

.subheading {
  font-weight: bolder;
  color: #b1b493;
  text-transform: uppercase
}

.icon {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-left: 10%;
  width: 70px;
  margin-top: -8%;
  background-color: #b1b493;
}

.heading {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

.description {
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 15%;
  color: #999999;
  width: 80%;
}

.card-services {
  width: 85%;
}

.card-style {
  box-shadow: #999999;
  width: 350px;
  height: 250px;
  text-align: center;
}

.ftco-hireme {
  position: relative;
  z-index: 1;
  background-color: #b1b493;
}

.img-fluid {
  height: 350px;
  margin-bottom: 10%;
}

.btn-color {
  background-color: white;
  color: #b1b493;
}

.btn-color:hover {
  background-color: white;
  color: #b1b493;
}

.btn-contact {
  background-color: #b1b493;
  color: white;
  font-size: 25px;
  border-radius: 50px;
  height: 50%;
}

.btn-contact:hover {
  background-color: #b1b493;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 720px) and (max-width: 1080px) {
  * {
    transition: all .3s ease-in-out;
  }
  .role {
    margin-left: -4%;
    margin-top: -3%;
  }
  .navbar {
    width: 100%;
  }
  .navbar-nav{
    margin-left: -220%;
  }
  .img-about {
    height: 50%;
  }
  .heading-section {
    margin-top: -10%;
  }
  .hobbies {
    margin-left: -99%;
    margin-top: -70%;
  }
  .interest-wrap {
    margin-left: 8%;
    margin-bottom: 8%;
  }
  .text {
    margin-top: -8%;
  }
  .ftco-skills {
    margin-top: -10%;
  }
  .card-style {
    width: 250px;
    height: 250px;
  }
  .card {
    width: auto;
  }
  .heading-skills {
    margin-top: -8%;
  }
  .heading-services {
    margin-top: 5%;
  }
  .col-md-6 {
    margin-bottom: 5%;
  }
  .card-services {
    margin-bottom: 5%;
    margin-left: -8%;
    width: 95%;
  }
  .heading {
    text-align: left;
    margin-left: 15px;
  }
  .img-fluid {
    height: auto;
  }
  .heading-contact {
    margin-top: 2%;
  }
  .form-section {
    margin-left: -2%;
    margin-top: -4%;
    width: auto;
  }
  .contact-details {
    margin-left: 5%;
    margin-top: 5%;
  }
  .btn-contact {
    height: 60%;
  }
  .contact-text {
    margin-top: 0%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 720px) {
  .navbar {
    flex-direction: column;
    width: 100%;
  }
  .role {
    font-size: 12px;
    margin-left: -2%;
    margin-top: -3%;
  }
  .navbar-toggler {
    display: none;
    margin-left: 150%;
  }
  .ftco-about {
    margin-top: 25%;
  }
  .img-about {
    height: 50%;
  }
  .heading-section {
    margin-top: -165%;
    margin-left: 60%;
  }
  .hobbies {
    margin-top: -70%;
  }
  .interest-wrap {
    margin-bottom: 10%;
  }
  .text {
    margin-top: -9%;
  }
  .ftco-skills {
    margin-top: -50%;
    width: 160%;
    align-items: center;
  }
  .ftco-service {
    width: 165%;
  }
  .mobile-aspect-service {
    width: 90%;
  }
  .icon {
    margin-left: 15%;
    height: 60px;
    width: 60px;
  }
  .description {
    margin-left: 5%;
    padding-bottom: 10%;
  }
  .ftco-hireme {
    width: 165%;
  }
  .hireme-content {
    padding-left: 5%;
  }
  .img-fluid{
    height: 180px;
    margin-left: 60%;
    margin-top: -25%;
    
  }
  .card-style {
    width: 75%;
    height: 75%;
  }
  .card {
    width: auto;
  }
  .contact-section {
    width: 160%;
  }
  .contact-details {
    padding: 5%;
  }
  .btn-contact {
    height: 60%;
  }
}
